/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
html, button, input, select, textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ===== Initializr Styles ==================================================
   Author:Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */
body {
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
  background: #F2F0E6;
  font-family: Helvetica Neue Regular, Arial, Sans-serif;
  font-size: 16px;
  line-height: 1.25em;
  /* this overwrites above. which is it? */ }

.wrapper {
  width: 960px;
  margin: 0; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 480px) {
  /* ====================
      INTERMEDIATE: Menu
     ==================== */
  nav a {
    float: left;
    width: 27%;
    margin: 0 1.7%;
    padding: 0 2%;
    line-height: 71px;
    margin-bottom: 0; }

  .profile-links a {
    width: 43%; }

  nav li:first-child a {
    margin-left: 0; }

  nav li:last-child a {
    margin-right: 0; } }
@media only screen and (min-width: 768px) {
  /* ====================
      WIDE: CSS3 Effects
     ==================== */
  /*    .header-container,
      .main aside {
          -webkit-box-shadow: 0 5px 10px #aaa;
             -moz-box-shadow: 0 5px 10px #aaa;
                  box-shadow: 0 5px 10px #aaa;
      }
  */
  /* ============
      WIDE: Menu
     ============ */
  .title {
    float: left; }

  header a {
    color: #808080;
    font-family: "Open Sans Condensed", Arial, Sans-serif;
    font-weight: bold;
    text-shadow: -1px -1px 1px #1c1c1c;
    text-transform: uppercase; }

  header a:hover {
    color: #FFFFFF;
    text-decoration: none; }

  nav.general-links {
    margin-left: 130px;
    width: 330px; }

  nav.profile-links {
    position: absolute;
    right: 15px;
    width: 145px; }

  .profile-img {
    width: 24px;
    height: 24px;
    border: 1px solid #808080;
    border-radius: 2px;
    margin-top: -3px; }

  /* ============
      WIDE: Main
     ============ */
  .main article {
    float: left;
    width: 57%; }

  .main aside {
    float: right;
    width: 28%; } }
@media only screen and (min-width: 1140px) {
  /* ===============
      Maximal Width
     =============== */
  .wrapper {
    width: 960px;
    /* 1140px - 10% for margins */
    margin: 0 auto; } }
/* =========================================
   OOCSS styles 
   ========================================= */
/*HEADINGS*/
/* ====== Headings ====== */
/* .h1-.h6 classes should be used to maintain the semantically appropriate heading levels - NOT for use on non-headings */
h1, .h1 {
  font-size: 196%;
  font-weight: normal;
  font-style: normal;
  color: #AE0345; }

h2, .h2 {
  font-size: 167%;
  font-weight: normal;
  font-style: normal;
  color: #AE0345; }

h3, .h3 {
  font-size: 146.5%;
  font-weight: normal;
  font-style: normal;
  color: #DF2B72; }

h4, .h4 {
  font-size: 123.1%;
  font-weight: normal;
  font-style: normal;
  color: #333; }

h5, .h5 {
  font-size: 108%;
  font-weight: bold;
  font-style: normal;
  color: #AE0345; }

h6, .h6 {
  font-size: 108%;
  font-weight: normal;
  font-style: italic;
  color: #333; }

/* if additional headings are needed they should be created via additional classes, never via location dependant styling */
.category {
  font-size: 108%;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  color: #333; }

.category a {
  color: #333; }

/*GRID*/
.line, .lastUnit {
  overflow: hidden;
  *overflow: visible;
  *zoom: 1; }

.unit {
  float: left; }

.unitRight {
  float: right; }

.size1of1 {
  float: none; }

.size1of2 {
  width: 50%; }

.size1of3 {
  width: 33.33333%; }

.size2of3 {
  width: 66.66666%; }

.size1of4 {
  width: 25%; }

.size3of4 {
  width: 75%; }

.size1of5 {
  width: 20%; }

.size2of5 {
  width: 40%; }

.size3of5 {
  width: 60%; }

.size4of5 {
  width: 80%; }

.lastUnit {
  float: none;
  width: auto;
  _position: relative;
  _left: -3px;
  _margin-right: -3px; }

/* mod */
.mod {
  margin: 10px; }

.mod .inner {
  /*background: url(skin/transparent.png) repeat left top;*/ }

.bd, .ft, .hd {
  overflow: hidden;
  *overflow: visible;
  zoom: 1; }

b.top, b.top b, b.bottom, b.bottom b {
  display: block;
  background-repeat: no-repeat;
  font-size: 1%;
  position: relative;
  z-index: 10; }

.tl, .tr, .bl, .br {
  height: 10px;
  width: 10px;
  float: left; }

.tl {
  background-position: left top; }

.tr {
  background-position: right top; }

.bl {
  background-position: left bottom; }

.br {
  background-position: right bottom; }

.br, .tr {
  float: right; }

.tr, .tl {
  overflow: hidden;
  margin-bottom: -32000px; }

/* margin bottom needs to be < -9px */
.bl, .br {
  margin-top: -10px; }

.top {
  background-position: center top; }

.bottom {
  background-position: center bottom;
  _zoom: 1; }

/* this zoom required for IE5.5 only*/
/* complex */
.complex {
  overflow: hidden;
  *position: relative;
  *zoom: 1; }

/* position/zoom required for IE7, 6, 5.5 */
.complex .tl, .complex .tr {
  height: 32000px;
  margin-bottom: -32000px;
  width: 10px; }

.complex .bl, .complex .br {
  /*margin-top:0;*/ }

.complex .top {
  height: 5px; }

.complex .bottom {
  height: 5px;
  /*margin-top:-10px;*/ }

/* pop */
.pop {
  overflow: visible;
  margin: 10px 20px 20px 10px;
  background-position: left top; }

.pop .inner {
  right: -10px;
  bottom: -10px;
  background-position: right bottom;
  padding: 0 10px 10px 0; }

.pop .tl, .pop .br {
  display: none; }

.pop .bl {
  bottom: -10px; }

.pop .tr {
  float: right;
  margin-right: -10px;
  _display: inline;
  /*fix double margin bug*/ }

/*MEDIA*/
.media {
  overflow: hidden;
  *overflow: visible;
  zoom: 1; }

.media .img {
  float: left;
  margin-right: 10px; }

.media .img img {
  display: block; }

.media .imgExt {
  float: right;
  margin-left: 10px; }

 /* SPACING HELPERS
p,m = padding,margin
a,t,r,b,l,h,v = all,top,right,bottom,left,horizontal,vertical
s,m,l,n = small(5px),medium(10px),large(20px),none(0px)
*/
.ptn, .pvn, .pan {
  padding-top: 0px !important; }

.pts, .pvs, .pas {
  padding-top: 5px !important; }

.ptm, .pvm, .pam {
  padding-top: 10px !important; }

.ptl, .pvl, .pal {
  padding-top: 20px !important; }

.prn, .phn, .pan {
  padding-right: 0px !important; }

.prs, .phs, .pas {
  padding-right: 5px !important; }

.prm, .phm, .pam {
  padding-right: 10px !important; }

.prl, .phl, .pal {
  padding-right: 20px !important; }

.pbn, .pvn, .pan {
  padding-bottom: 0px !important; }

.pbs, .pvs, .pas {
  padding-bottom: 5px !important; }

.pbm, .pvm, .pam {
  padding-bottom: 10px !important; }

.pbl, .pvl, .pal {
  padding-bottom: 20px !important; }

.pln, .phn, .pan {
  padding-left: 0px !important; }

.pls, .phs, .pas {
  padding-left: 5px !important; }

.plm, .phm, .pam {
  padding-left: 10px !important; }

.pll, .phl, .pal {
  padding-left: 20px !important; }

.mtn, .mvn, .man {
  margin-top: 0px !important; }

.mts, .mvs, .mas {
  margin-top: 5px !important; }

.mtm, .mvm, .mam {
  margin-top: 10px !important; }

.mtl, .mvl, .mal {
  margin-top: 20px !important; }

.mrn, .mhn, .man {
  margin-right: 0px !important; }

.mrs, .mhs, .mas {
  margin-right: 5px !important; }

.mrm, .mhm, .mam {
  margin-right: 10px !important; }

.mrl, .mhl, .mal {
  margin-right: 20px !important; }

.mbn, .mvn, .man {
  margin-bottom: 0px !important; }

.mbs, .mvs, .mas {
  margin-bottom: 5px !important; }

.mbm, .mvm, .mam {
  margin-bottom: 10px !important; }

.mbl, .mvl, .mal {
  margin-bottom: 20px !important; }

.mln, .mhn, .man {
  margin-left: 0px !important; }

.mls, .mhs, .mas {
  margin-left: 5px !important; }

.mlm, .mhm, .mam {
  margin-left: 10px !important; }

.mll, .mhl, .mal {
  margin-left: 20px !important; }

.header-container {
  background: #3d3d3d url("../img/header-bg.gif") top left;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#464646), to(#313131));
  background-image: -webkit-gradient(#464646, #313131);
  background-image: -moz-gradient(#464646, #313131);
  background-image: -ms-gradient(#464646, #313131);
  background-image: -o-gradient(#464646, #313131);
  background-image: gradient(to bottom, #464646, #313131);
  border-bottom: 1px solid #2a2a2a; }

.main aside {
  border-top: 20px solid #1b2616; }

.main aside {
  background: #565a32; }

.title {
  color: white; }

nav ul {
  margin: 0;
  padding: 0; }

nav a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: white; }

nav a:hover,
nav a:visited {
  color: white; }

nav a:hover {
  text-decoration: underline; }

/* ==============
    MOBILE: Main
   ============== */
.main {
  padding: 30px 0; }

.main article h1 {
  font-size: 2em; }

.main aside {
  color: white;
  padding: 0px 5% 10px; }

.header-container {
  height: 71px;
  -webkit-box-shadow: 0px 1px 6px 1px #333333;
  /* android and BB only */
  -moz-box-shadow: 0px 1px 6px 1px #333333;
  /* if we support FF3.6 only */
  box-shadow: 0px 1px 6px 1px #333333;
  position: relative;
  z-index: 2; }

header {
  position: relative; }

.gyg-logo {
  position: absolute;
  top: 16px;
  left: 0px; }

.footer-container {
  background: #f6f3ed;
  height: 40px;
  background: #EBE9DF;
  font: arial 12px; }
  .footer-container footer li {
    display: inline;
    margin-right: 10px;
    line-height: 40px; }
  .footer-container footer a {
    color: #c7a912;
    text-transform: uppercase;
    border-right: 1px solid #999999;
    padding-right: 10px;
    text-decoration: none; }
  .footer-container footer li:last-of-type a {
    border-right: none; }

/* ===============
    ALL: IE Fixes
   =============== */
.ie7 .title {
  padding-top: 20px; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
