
.footer-container {
    background: #f6f3ed;
	height: 40px;
	background:#EBE9DF;
	font: arial 12px;
	footer {
		li {
			display: inline; 
			margin-right: 10px;
			line-height: 40px;
		}
		a {
			color: $gold;
			text-transform: uppercase;
			border-right: 1px solid $light_grey;
			padding-right: 10px;
			text-decoration: none;
		}
		li:last-of-type a {
			border-right: none;
		}
	}
}


.games_footer
{
	position:absolute;
	bottom:0;
	height:150px;
	width:100%;
	background-image: url(../img/games_footer_bg.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	overflow:hidden;
}
.info_game{
	font-family: Arial, Helvetica, sans-serif;
}
.info_game .item
{
	float:left;
	padding: 26px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #f3d3d3d;
	border-left-color: #f3d3d3d;
	border-bottom-color: #f3d3d3d;
	border-right-color: #181818;
}
.info_game .item .info
{
	font-size:35px;
	margin-bottom:5px;
	color:#ff470a;
	font-weight:bold;
}
.info_game .item .subhdr{
	color:#979797;
	font-size:12px;
	font-weight:bold;
}