.header-container {
    background: #3d3d3d url("../img/header-bg.gif") top left;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, 
        from(#464646), to(#313131));
    background-image: -webkit-gradient(#464646, #313131);
    background-image: -moz-gradient(#464646, #313131);
    background-image: -ms-gradient(#464646, #313131);
    background-image: -o-gradient(#464646, #313131);
    background-image: gradient(to bottom, #464646, #313131);
    border-bottom: 1px solid #2a2a2a;
}
.main aside {
    border-top: 20px solid #1b2616;
}

.main aside {
    background: #565a32;
}

.title {
    color: white;
}


nav ul {
    margin: 0;
    padding: 0;
}
nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}



.header-container {
    height: 71px;
    -webkit-box-shadow:0px 1px 6px 1px #333333; /* android and BB only */
    -moz-box-shadow:0px 1px 6px 1px #333333; /* if we support FF3.6 only */
    box-shadow:0px 1px 6px 1px #333333;
    position: relative;
    z-index: 2;
}

header {
    position: relative;
}

.gyg-logo {
    position: absolute;
    top: 16px;
    left: 0px;
}
