.module {
	> header h1 {
	 padding-bottom: 4px;
	 border-bottom: 3px solid #ACABA6;
	 font-size: 26px;
	 margin-bottom: 5px;
	 color: #f7332c;
	 font-weight: bold;
	 }
	 > header a {
        color: #fff;
        font-family: "Open Sans Condensed", Arial, Sans-serif;
        text-shadow: -1px -1px 1px rgba(0,0,0,0.2);
        box-shadow: 1px -1px 1px rgba(0,0,0,0.2);
        border-radius: 2px;
        text-transform: uppercase;
        float: right;
        text-decoration: none;
        background-color: #ff2618; 
        padding: 2px 5px;
        font-weight: normal;
        font-size: 0.8rem;
	 }
	 p.comment {
	 	padding-left: 60px;
	 	background: url(../img/comment.png) left center no-repeat transparent;
	 	margin-left: 20px;
	 	line-height: 30px;
	 	color: #808080;
	 }
	 p a {
	 	color: #ffbe40;
	 	text-decoration: none;
	 }
	 article {
	 	position: relative;
	 
	 	&:after{
	 	content: '';
	 	position: absolute;
	 	top: 40px;
	 	bottom: 20px;
	 	left: 40px;
	 	right: 0;
	 	border: solid #ccc;
	 	border-width: 1px 0 0 3px;
	 	z-index: -1;
	 	}
	    h2{
		  padding-top: 40px;
		  padding-left: 20px;
		  margin: 0;
		  img {
		 	position: relative;
		 	top: -20px;
		 	left: -20px;
		 	height: 60px;
		 	width: 60px;
		 	margin-right: -10px;
		  }
		}
		li {
			list-style-type: none;
			padding-left: 40px;
			span {
				display: block;
				color: #ccc;
				font-size: 1rem;
			}
		&.icon:before {
			content: '';
			position: absolute;
			border-radius: 50%;
			height: 40px;
			width: 40px;
			left: 20px;
			background-color: $green;
			}
		&.icon.score:before {
			background-color: $orange;
			}
		&.solid {
			background-color: rgb(62,130,78);
			padding: 5px 66px;
			margin: -5px -25px;
			min-height: 240px;
			> p {margin-top: 0;}
			}
		&.hot {background-color: rgb(205, 38, 23);}
		}
	 }
}

/*   GENERIC CLASSES   */
.avatar {
	&.small {
		width: 24px;
		height: 24px;
	}
	&.med {
		width: 40px;
		height: 40px;
	}
}