
//colors
$orange: 		#ff3300;
$putty:			#d9d3bd;
$dark_grey: 	#333333;
$grey:			#666666;
$light_grey:	#999999;
$faded_grey:	#cccccc;
$blue:			#4b9cbf;
$dark_green:	#376342;
$light_green:	#376342;
$light_putty:	#eef0e4;
$gold:			#c7a912;

// Estelle's colors
$red: #f7332c;

$font: 'helvetica neue', 'myriad pro', 'lucida sans', helvetica, sans-serif;