
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 0 2%;
        line-height: 71px;
        margin-bottom: 0;
    }
    .profile-links a {
        width: 43%;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

/*    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }
*/





/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    header a {
        color: #808080;
        font-family: "Open Sans Condensed", Arial, Sans-serif;
        font-weight: bold;
        text-shadow: -1.0px -1.0px 1.0px #1C1C1C;
        text-transform: uppercase;        
    }

    header a:hover {
        color: #FFFFFF;
        text-decoration: none;
    }

    nav.general-links {
        margin-left: 130px;
        width: 330px;
    }

    nav.profile-links {
        position: absolute;
        right: 15px;
        width: 145px;
    }
    .profile-img {
        width: 24px;
        height: 24px;
        border: 1px solid #808080;
        border-radius: 2px;
        margin-top: -3px;
    }


/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 960px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

